
<style type="text/css">
    .select2-container{
        width: 100% !important;
        display: block;

    }

</style>
<select class="s2" name="<?php echo $name ?>" multiple>
    <?php foreach($related as $key => $value) :?>
        <option value="<?php echo $key ?>"
             <?php echo in_array($key, $selectedValues) ? 'selected="selected"' :'' ?>><?php echo $value ?> </option>
    <?php endforeach;  ?>

</select>

<script type="text/javascript">
    $(document).on('render' , function()
    {
        $('.s2').select2({
            placeholder : 'Sélectionner un produit',
            tags : true
        })
    })
</script>