.title_inventaire, .title_produit {
    font: italic normal bold 34px/40px Roboto Condensed;
    text-transform: uppercase;
}
.title_inventaire {color: #EB2122;}
.title_produit {color: #000; font-size: 60px; margin-bottom: 20px;}



.divider {
    width: 80px; 
    height: 6px; 
    background: #d2d2d2; 
    display: block;
    margin-top: 5px;
    -ms-transform: skewX(-30deg); /* IE 9 */
    -webkit-transform: skewX(-30deg); /* Safari */
    transform: skewX(-30deg);
    
}
.product-card {padding: 15px;}
.product-image {}
.bordered {border: 6px solid #f1f1f1; border-radius: 10px;}

.product-card__title a {color: #000;}
.product-card__link_img:focus {outline: none !important;}

.shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(235,33,34,.30)!important;
}

.Modal_button
{
    background: #EB2122 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal bold 29px/34px Roboto Condensed;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
border-color: white;
width: 100%;
margin-top: 15px;
}

.input-group-append .button, .input-group-prepend .button
{
    background-color: #B11A1B;
    color:white;
    border: none !important;
    margin-top: 0;
    border-radius: 5px 0 0 5px;
}

.typeSelector_card_body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.typeSelector_form-control
{
    width: 150px;
    background-color: #EB2122;
    color:white;
    border: none;
    border-radius: 0 5px 5px 0;
}
.typeSelector_form-control:hover {
    background-color: #B11A1B;
}

.TypeSelector_Title
{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.item_liste
{
    border-bottom : solid gray 1px; 
    display: contents;
}
.contenu_item
{
    display: contents;
}


/* .mesInputs
{
    display: contents;
} */

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .contenu_produit
  {
   
        display: flex!important;
        flex-direction: column;
    
  }

  .alignement_form
  {
      
      display: flex;
      align-items: baseline;
  }

 .pay_logo_display img
 {
    width: 40px;
    margin: 10px;
    
 }

 .pay_logo_display
 {
    border-bottom : solid gray 1px; 
 }

 .social_media_logo_display img
 {
    width: 20px;
    margin: 2px;
 }

 .bouton_Panier
 {
     background-color: #EB2122;
     border-radius: 8px;
     border-color: #EB2122;
 }


  /* PAGE PAIEMENT */

.order-summary-input {
    background-color:#F1F1F1;
    border:none;
    width: 100%;
}


.header_cart_modal
{
    background-color: #F1F1F1 !important;
}

.footer_cart_modal
{
    background-color: #FFFFFF !important;

}

.modal_button
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: space-around;
}
.btn-secondary
{
    background-color: #B3B3B3;
    color:white;
    margin: 5px;
}

.btn-primary
{
    margin: 5px;
}

.modal-backdrop:nth-child(2n-1) {
  opacity : 0;
}

.modal-open #cart-modal {
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
     
}

#cart-modal {
   position: fixed;
   top: 10px;
   right: 0 !important;
   bottom: 0;
   left: auto;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.wysiwyg ol>li:before {
    display: table-cell;
    padding-right: .6rem;
    content: counters(item,".") " ";
   
}