
{% if load != true %}
{% spaceless %}
{# @var obActiveCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}

{# Get product collection #}

{% if typeUpdate == 'filter'%}
{% set obProductList = SearchForm.getProductListFiltered(obActiveCategory.id ,filter ,listId) %}
{% else%}
{% set obProductList = SearchForm.getProductListFormSearch(obActiveCategory.id ,type_vehicule,year_from,year_to,model ,type_piece) %}
{% endif %}
{% if obProductList is not empty %}
    <h4>Pièces d'origine pour</h4>
    <h3>{{obActiveCategory.name}} <span id="titreList"> </span> </h3>

{% if  __SELF__.property('popularityFilter') %}
{% partial '@partials/popularity_filter' value =  filter %} 
{% endif %}
    <ul id="catalogProduit" class="catalog__list list-unstyled flex-wrap row">
        {% for obProduct in obProductList %}
            <li class="catalog__item col-lg-2 col-sm-6 col-12" id="{{obProduct.id}}" >
                {% partial 'product/product-card/product-card' obProduct=obProduct obActiveCategory=obActiveCategory %}
            </li>
        {% endfor %}
    </ul>
    {% partial 'navigation/pagination/pagination' iCount=obProductList.count() pagingLabel='catalog-product-list' %}
{% else %}
    <div>Products not found</div>
{% endif %}
{% endspaceless %}
{% endif %}
