<div id="TEST">
    {% partial '@partials/productsList' load=true %} 
 </div>
 
 {% spaceless %}
 
 {% set arSearchResult = selecttype.Displaysearch('a') %}
 {% if arSearchResult.type is not empty %}
 
 {% set maCategorie = selecttype.getCategory(category)%}
 
 
 <h2 class="title_produit"> {{maCategorie[0].name}} {{modele}} {{year}}</h2>
 <span class="divider"></span>
 
 <ul class="catalog__list list-unstyled flex-wrap row mt-5">
 {% for typeProduit in arSearchResult.type %}
 
      {% set obProduct = selecttype.makeItem(typeProduit) %}
         <!-- {% set obOffer = obProduct.offer.first() %} -->
   
     <li class="catalog__item col-lg-3 col-sm-6 col-12">
         <div class="mb-4">
             <div class="product-card card shadow" id="{{obProduct[0].id}}">
                 <h3 class="card-title product-card__title text-dark font-weight-bold TypeSelector_Title">{{ obProduct[0].titre }}</h3>
                 <button class="product-card__link product-card__link_img border-0 p-0" onclick="search({{obProduct[0].id}})" >
                     <img class="product-card__img card-img-top" src="{{ obProduct.myImage.getPath() }}">
                 </button>
                 <div class="typeSelector_card_body product-card__body">
                     <div class="product-card__price-bar d-flex align-items-center">
                         <!--<span class="product-card__current-price pr-2 font-weight-bold"></span>-->
                         <span class="input-group-append">
                             <button class="form-control button" onclick="search()">
                                 <i class="fa fa-search"></i>
                             </button>
                         </span>
                         <button class="typeSelector_form-control form-control" onclick="search({{obProduct[0].id}})">DÉTAILS</button>
                     </div>
                 </div>
             </div>
         </div>
     </li>
 {% endfor %}
 </ul>
 {% endif %}
 {% endspaceless %}