<script type="module" src="/plugins/nerd/shopaform/assets/js/add-to-cart.js"></script>
<script type="module" src="/plugins/nerd/shopaform/assets/js/cart-link-header.js"></script>
<script type="module" src="/plugins/nerd/shopaform/assets/js/cart-position-list.js"></script>
<script type="module" src="/plugins/nerd/shopaform/assets/js/button-change-quantity.js"></script>
{% set arSearchResult = selectpiece.Displaysearch('a') %}
{% if arSearchResult.Product is not empty %}

{% set maCategorie = selectpiece.getCategory(category)%}


<h2 class="title_produit"> {{maCategorie[0].name}} {{modele}} {{year}}</h2>
<span class="divider"></span>

<div class="row mt-5">
    <div class="col-6 bordered text-center">
        {% set obType = selectpiece.makeItem(arSearchResult.Type['id'] , 'nerd_shopaholic_type') %}
        <img class="img-fluid product-image" src="{{ obType.myImage.getPath() }}">
    </div>
    <div class="col-6">
        
        <div class="row">
            <div class="column">
                Description
            </div>
            <div class="column">
                Prix
            </div>
        </div>
        <ol class="catalog__list list-unstyled flex-wrap row liste_produit">
        {% for Produit in arSearchResult.Product %}
             {% set obProduct = selectpiece.makeItem(Produit) %}
                <!-- {% set obOffer = obProduct.offer[0].first() %} -->
          
            <li class="catalog__item item_liste" style=" width: 100%;">
                <ul class="contenu_item">

                    <div class="row">
                        <div class="column">
                            <h6 class="text-uppercase">{{obProduct[0].name}}</h6>
                        <p>{{obProduct[0].model_product}}</p>
                        <p>{{obProduct[0].preview_text}}</p>
                        </div>
                        <div class="column">
                            <div class="product-card__price-bar d-flex contenu_produit">
                                <span class="product-card__current-price pr-2 font-weight-bold {{ obOffer.old_price_value > 0 ? 'text-danger' : '' }}">
                                   <br> 
                                </span>
                                
                                {% set cart_is_available  = true%}
                                {% if cart_is_available %}
                               
                                <form class="mb-0 formulaire_quantite">
                                    <div class="alignement_form">
                                    {{ obProduct.offer[0].price }}
                                    <input type="hidden" name="offer_id" value="{{ obProduct.offer[0].id }}">
                                    {% partial '@partials/button-change-quantity' btnChangeQtyValue=1 btnProductPage=true btnMaxQtyValue=obOffer.quantity btnChangeQtyAjax=true %}
                                    </div>
                                    {% partial '@partials/button-add-to-cart' btnAddClasses='btn-sm' %}
                                </form>
                                {% endif %}
                            </div>


                        </div>
                      </div>
                  
                </ul>
            </li>
        
        {% endfor %}
        </ol>
        {% endif %}
        <p style="border-bottom : solid gray 1px; ">Attention : MOTOS ILLIMITEES INC. vend et expédie au Canada SEULEMENT.</p>

        <div class="pay_logo_display">
            <img src="/storage/app/media/100-transaction.jpg" >
            <img src="/storage/app/media/purolator-logo.svg" >
            <img src="/storage/app/media/visa-logo.svg" >
            <img src="/storage/app/media/mastercard-logo.svg" >
            <img src="/storage/app/media/american-express-logo.svg" >
            <img src="/storage/app/media/stripe-logo.svg" >
            <img src = "/storage/app/media/Godaddy-secure.png">
        </div>
        <div class="social_media_logo_display">
            <img src="/storage/app/media/facebook-gris.svg" >
            <img src="/storage/app/media/twitter-gris.svg" >
            <img src="/storage/app/media/pinterest-gris.svg" >
            <img src="/storage/app/media/google-gris.svg" >
        </div>
    </div>
</div>


